{% extends "base_generic.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<form action="{{ action }}" method="post">

    {% crispy form %}

    {% if form.instance.deleted %}
        Объект помечен на удаление: {{form.instance.deleted|date:"d.m.Y, G:i"}}
    {% endif %}

    {% if form.instance.pk %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Удалить
    </button>
    {% endif %}

    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}
            {% if form.instance.deleted %}
                Восстановить
            {% else%}
                Изменить
            {% endif %}
        {% else%}
            Добавить
        {% endif %}
    </button>
</form>

{% if form.instance.pk %}
<form action="{{ delete_action }}" method="post">
    {% csrf_token %}

    <div class="modal fade" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление объекта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                {% if related_objects_list %}
                    Невозможно удалить объект, так как от него зависят следющие объекты:
                    <ul>
                    {% for object in related_objects_list %}
                        <li>{{object.pk}}: {{object}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Удалить объект?
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    {% if not related_objects_list %}
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</form>
{% endif %}

{% endblock %}

{% block body_scripts %}
    <script src="{% static 'doc_manager/js/select_search.js' %}"></script>
{% endblock %}
