{% extends "doc_manager/table_generic.html" %}

{% block title %}Список материалов - {{ block.super }}{% endblock%}

{% block page_head %}Список материалов{% endblock %}

{% block table_input %}
<form method="GET">
    <input 
        type="text" 
        name="name" 
        id="name-filter" 
        placeholder="Материал"
        value="{{name_value}}">
    <button type="submit">Найти</button>
</form>
{% endblock %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Материал</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.pk}}</th>
    <td>{{object.name}}</td>
{% endblock %}

{% block no_objects_found %}
    <p>Материалов не найдено</p>
{% endblock %}
