{% extends "doc_manager/table_generic.html" %}


{% block table_input %}
<form method="GET">
    <select name="customer">
        <option value="">---------</option>
        {% for customer in customer_list %}
        <option value="{{customer.pk}}"
                {% if customer.pk == customer_value|add:"0" %}selected{% endif %}>
            {{customer}}
        </option>
        {% endfor %}
    </select>
    <label for="id_start_date">Начало: </label>
    <input type="date" id="id_start_date" name="start_date" value="{{start_date_value}}">
    <label for="id_end_date">Конец: </label>
    <input type="date" id="id_end_date" name="end_date" value="{{end_date_value}}">
    <button type="submit">Найти</button>
</form>
{% endblock %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Дата<br>создания</th>
    <th scope="col">Номер<br>спец.</th>
    <th scope="col">Заказчик</th>
    <th scope="col">Фактич.<br>погрузка</th>
    <th scope="col">Фактич.<br>выгрузка</th>
    <th scope="col">Цена<br>за ед.</th>
    <th scope="col">Ед.<br>изм.</th>
    <th scope="col">Кол-во</th>
    <th scope="col">Сумма</th>
    <th scope="col">УПД</th>
    <th scope="col">Номер<br>УПД</th>
    <th scope="col">Дата<br>УПД</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.id}}</th>
    <td>{{object.date|date:"d.m.Y"}}</td>
    <td>{{object.specification.doc_no}}</td>
    <td>{{object.specification.customer}}</td>
    <td>{{object.path.path_from|default:""}}</td>
    <td>{{object.path.path_to|default:""}}</td>
    <td>{{object.specification.price}}</td>
    <td>{{object.specification.units}}</td>
    <td>{{object.count}}</td>
    <td>{{object.price}}</td>
    <td>{{object.exec_doc|yesno:"Да,Нет"}}</td>
    <td>{{object.exec_doc.exec_no|default:""}}</td>
    <td>{{object.exec_doc.date|date:"d.m.Y"|default:""}}</td>
{% endblock %}

{% block post_table %}
<div class="col-4">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Ед. изм.</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Сумма</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Куб. метры</td>
            <td>{{metres_total | default:"0"}}</td>
            <td>{{metres_sum | default:"0"}}</td>
        </tr>
        <tr>
            <td>Тонны</td>
            <td>{{tonnes_total | default:"0"}}</td>
            <td>{{tonnes_sum | default:"0"}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Итого: </td>
            <td>{{total_sum | default:"0"}}</td>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}

{% block no_objects_found %}
    <p>Заказов не найдено</p>
{% endblock %}

