{% extends "doc_manager/table_generic.html" %}


{% block table_input %}
<form method="GET">
    <select name="customer">
        <option value="">---------</option>
        {% for customer in customer_list %}
        <option value="{{customer.pk}}"
                {% if customer.pk == customer_value|add:"0" %}selected{% endif %}>
            {{customer}}
        </option>
        {% endfor %}
    </select>
    <label for="id_start_date">Начало: </label>
    <input type="date" id="id_start_date" name="start_date" value="{{start_date_value}}">
    <label for="id_end_date">Конец: </label>
    <input type="date" id="id_end_date" name="end_date" value="{{end_date_value}}">
    <button type="submit">Найти</button>
</form>
{% endblock %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Дата<br>создания</th>
    <th scope="col">Заказчик</th>
    <th scope="col">Фактич.<br>погрузка</th>
    <th scope="col">Фактич.<br>выгрузка</th>
    <th scope="col">Цена<br>за ед.</th>
    <th scope="col">Кол-во</th>
    <th scope="col">Сумма</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.id}}</th>
    <td>{{object.date|date:"d.m.Y"}}</td>
    <td>{{object.specification.customer}}</td>
    <td>{{object.path.path_from|default:""}}</td>
    <td>{{object.path.path_to|default:""}}</td>
    <td>{{object.specification.price}}</td>
    <td>{{object.count}}</td>
    <td>{{object.price}}</td>
{% endblock %}

{% block table_footer %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th scope="row">Итог:</th>
    <td>{{ total }}</td>
{% endblock %}

{% block no_objects_found %}
    <p>Заказов не найдено</p>
{% endblock %}

