{% extends "doc_manager/table_generic.html" %}

{% block table_input %}
<form method="GET">
    <label for="id_start_date">Начало: </label>
    <input type="date" id="id_start_date" name="start_date" value="{{start_date_value}}">
    <label for="id_end_date">Конец: </label>
    <input type="date" id="id_end_date" name="end_date" value="{{end_date_value}}">
    <label for="id_unfinished_orders">Показать незаполненные заказы: </label>
    <input type="checkbox" id="id_unfinished_orders" name="unfinished_orders" {% if unfinished_orders %}checked{% endif %}>
    <button type="submit">Найти</button>
</form>
{% endblock %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Дата<br>создания</th>
    <th scope="col">Номер<br>спец.</th>
    <th scope="col">Заказчик</th>
    <th scope="col">Кол-во</th>
    <th scope="col">СИ</th>
    <th scope="col">Сумма</th>
    <th scope="col">Машина</th>
    <th scope="col">Водитель</th>
    <th scope="col">Подрядчик</th>
    <th scope="col">Фактич.<br>погрузка</th>
    <th scope="col">Фактич.<br>выгрузка</th>
    <th scope="col">Ставка</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.id}}</th>
    <td>{{object.date|date:"d.m.Y"}}</td>
    <td>{{object.specification.doc_no}}</td>
    <td>{{object.specification.customer}}</td>
    <td>{{object.count}}</td>
    <td>{{object.specification.get_units_display}}</td>
    <td>{{object.price}}</td>
    <td>{{object.vehicle|default:""}}</td>
    <td>{{object.driver|default:""}}</td>
    <td>{{object.contractor|default:""}}</td>
    <td>{{object.path.path_from|default:""}}</td>
    <td>{{object.path.path_to|default:""}}</td>
    <td>{{object.path.cost|default:""}}</td>
{% endblock %}

{% block no_objects_found %}
    <p>Заказов не найдено</p>
{% endblock %}

