{% extends "base_generic.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block head_addendum %}
    <link rel="stylesheet" href="{% static 'doc_manager/css/styles.css' %}">
{% endblock %}

{% block content %}

<form action="{{ action }}" method="post">
    {% csrf_token %}

    {{form | as_crispy_errors}}

    {{form.date | as_crispy_field }}

    {{form.count | as_crispy_field }}

    <div id="div_id_specification" class="mb-3">
        <label class="form-label requiredField">
            {{form.specification.label}}<span class="asteriskField">*</span>
        </label>
        {% if form.specification.errors %}
            <div class="alert alert-block alert-danger">
                <ul class="m-0">
                    {% for error in form.specification.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="container">
            <input type="text" id="from-addr-filter" placeholder="Погрузка">
            <input type="text" id="to-addr-filter" placeholder="Выгрузка">
            <input type="text" id="mat-filter" placeholder="Материал">
            <div class="table-responisve scrollable-table-wrapper">
                <table id="spec-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Клиент</th>
                            <th scope="col">Погрузка</th>
                            <th scope="col">Выгрузка</th>
                            <th scope="col">Материал</th>
                            <th scope="col">Ед. изм.</th>
                            <th scope="col">Цена</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for spec in specification_list %}
                        <tr>
                            <th scope="row">{{spec.doc_no}}</th>
                            <td>{{spec.customer}}</td>
                            <td>{{spec.from_addr}}</td>
                            <td>{{spec.to_addr}}</td>
                            <td>{{spec.material}}</td>
                            <td>{{spec.units}}</td>
                            <td>{{spec.price}}</td>
                            <td>
                                <input
                                    id="rad{{spec.pk}}"
                                    type="radio"
                                    name="{{form.specification.name}}"
                                    value="{{spec.pk}}">
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{form.vehicle | as_crispy_field }}

    {{form.driver | as_crispy_field }}

    {{form.path | as_crispy_field }}

    {% if form.instance.deleted %}
        Объект помечен на удаление: {{form.instance.deleted|date:"d.m.Y, G:i"}}
    {% endif %}

    {% if form.instance.pk %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Удалить
    </button>
    {% endif %}

    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}
            {% if form.instance.deleted %}
                Восстановить
            {% else%}
                Изменить
            {% endif %}
        {% else%}
            Добавить
        {% endif %}
    </button>

</form>

{% if form.instance.pk %}
<form action="{{ delete_action }}" method="post">
    {% csrf_token %}

    <div class="modal fade" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление объекта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                {% if related_objects_list %}
                    Невозможно удалить объект, так как от него зависят следющие объекты:
                    <ul>
                    {% for object in related_objects_list %}
                        <li>{{object.pk}}: {{object}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Удалить объект?
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    {% if not related_objects_list %}
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</form>
{% endif %}

{% endblock %}


{% block body_scripts %}
    <script src="{% static 'doc_manager/js/select_search.js' %}"></script>
    <script src="{% static 'doc_manager/js/new_order.js' %}"></script>
    {% if form.instance.pk %}
    <script>
        (function() {
            const preselected_radio = document.querySelector('#rad{{form.instance.specification.pk}}');
            preselected_radio.click();
        })()
    </script>
    {% endif %}
{% endblock %}
