{% extends "base_generic.html" %}

{% block head_addendum %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'doc_manager/css/styles.css' %}">
{% endblock %}

{% block content %}

{% if order %}
<form action="{% url 'doc_manager:edit_order' order.id %}" method="post">
{% else %}
<form action="{% url 'doc_manager:new_order' %}" method="post">
{% endif %}
    {% csrf_token %}

    <label for="client-input">Клиент: </label>
    <input 
        id="client-input"
        list="client-list"
        name="client"
        autocomplete="off" 
        {% if order %}
        value="{{order.customer.name}}"
        {% endif %}
        >
    <datalist id="client-list">
        {% for customer in customer_list %}
            <option value="{{ customer.name }}">
        {% endfor %}
    </datalist>

    <label for="count-input">Количество: </label>
    <input 
        id="count-input" 
        type="number" 
        name="count" 
        min="0" 
        {% if order %}
        value="{{order.count}}"
        {% endif %}
        >

    <div class="container">
        <input type="text" id="from-addr-filter" placeholder="Погрузка">
        <input type="text" id="to-addr-filter" placeholder="Выгрузка">
        <input type="text" id="mat-filter" placeholder="Материал">
        <div class="table-responisve scrollable-table-wrapper">
            <table id="spec-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Погрузка</th>
                        <th scope="col">Выгрузка</th>
                        <th scope="col">Материал</th>
                        <th scope="col">Ед. изм.</th>
                        <th scope="col">Цена</th>
                    </tr>
                </thead>
                <tbody>
                {% for spec in specification_list %}
                    <tr>
                        <th scope="row">{{spec.doc_no}}</th>
                        <td>{{spec.from_addr}}</td>
                        <td>{{spec.to_addr}}</td>
                        <td>{{spec.material}}</td>
                        <td>{{spec.units}}</td>
                        <td>{{spec.price}}</td>
                        <td>
                            <input
                                id="rad{{spec.doc_no}}"
                                type="radio"
                                name="spec-id"
                                value="{{spec.doc_no}}">
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit">
        {% if order %}Изменить{% else %}Добавить{% endif %}
    </button>

</form>
{% endblock %}


{% block body_scripts %}
<script src="{% static 'doc_manager/js/new_order.js' %}"></script>
{% if order %}
<script>
    (function() {
        const preselected_radio = document.querySelector('#rad{{order.specification.doc_no}}');
        preselected_radio.click();
    })()
</script>
{% endif %}
{% endblock %}
