{% extends "base_generic.html" %}

{% block head_addendum %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'doc_manager/css/styles.css' %}">
{% endblock %}

{% block content %}

<form action="{{ action }}" method="post">
    {% csrf_token %}

    {{form.non_field_errors}}

    {{form.date.errors}}
    <label for="{{form.date.id_for_label}}">{{form.date.label}}: </label>
    {{form.date}}

    {{form.customer.errors}}
    <label for="{{form.customer.id_for_label}}">{{form.customer.label}}: </label>
    {{form.customer}}

    {{form.count.errors}}
    <label for="{{form.count.id_for_label}}">{{form.count.label}}: </label>
    {{form.count}}

    {{form.specification.errors}}
    <div class="container">
        <input type="text" id="from-addr-filter" placeholder="Погрузка">
        <input type="text" id="to-addr-filter" placeholder="Выгрузка">
        <input type="text" id="mat-filter" placeholder="Материал">
        <div class="table-responisve scrollable-table-wrapper">
            <table id="spec-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Погрузка</th>
                        <th scope="col">Выгрузка</th>
                        <th scope="col">Материал</th>
                        <th scope="col">Ед. изм.</th>
                        <th scope="col">Цена</th>
                    </tr>
                </thead>
                <tbody>
                {% for spec in specification_list %}
                    <tr>
                        <th scope="row">{{spec.doc_no}}</th>
                        <td>{{spec.from_addr}}</td>
                        <td>{{spec.to_addr}}</td>
                        <td>{{spec.material}}</td>
                        <td>{{spec.units}}</td>
                        <td>{{spec.price}}</td>
                        <td>
                            <input
                                id="rad{{spec.pk}}"
                                type="radio"
                                name="{{form.specification.name}}"
                                value="{{spec.pk}}">
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{form.vehicle.errors}}
    <label for="{{form.vehicle.id_for_label}}">{{form.vehicle.label}}: </label>
    {{form.vehicle}}

    {{form.driver.errors}}
    <label for="{{form.driver.id_for_label}}">{{form.driver.label}}: </label>
    {{form.driver}}

    {{form.path.errors}}
    <label for="{{form.path.id_for_label}}">{{form.path.label}}: </label>
    {{form.path}}

    {% if form.instance.pk %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Удалить
    </button>
    {% endif %}

    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}
            Изменить
        {% else%}
            Добавить
        {% endif %}
    </button>

</form>

{% if form.instance.pk %}
<form action="{{ delete_action }}" method="post">
    {% csrf_token %}

    <div class="modal fade" id="delete-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление объекта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                {% if related_objects_list %}
                    Невозможно удалить объект, так как от него зависят следющие объекты:
                    <ul>
                    {% for object in related_objects_list %}
                        <li>{{object.pk}}: {{object}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    Удалить объект?
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    {% if not related_objects_list %}
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</form>
{% endif %}

{% endblock %}


{% block body_scripts %}
<script src="{% static 'doc_manager/js/new_order.js' %}"></script>
{% if form.instance.pk %}
<script>
    (function() {
        const preselected_radio = document.querySelector('#rad{{form.instance.specification.pk}}');
        preselected_radio.click();
    })()
</script>
{% endif %}
{% endblock %}
