{% extends "doc_manager/table_generic.html" %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Дата<br>создания</th>
    <th scope="col">Номер<br>спецификации</th>
    <th scope="col">Заказчик</th>
    <th scope="col">Количество</th>
    <th scope="col">Цена</th>
    <th scope="col">Машина</th>
    <th scope="col">Водитель</th>
    <th scope="col">Фактич.<br>погрузка</th>
    <th scope="col">Фактич.<br>выгрузка</th>
    <th scope="col">Ставка</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.id}}</th>
    <td>{{object.date|date:"d.m.Y"}}</td>
    <td>{{object.specification.doc_no}}</td>
    <td>{{object.customer}}</td>
    <td>{{object.count}}</td>
    <td>{{object.price}}</td>
    <td>{{object.vehicle}}</td>
    <td>{{object.driver}}</td>
    <td>{{object.path.path_from}}</td>
    <td>{{object.path.path_to}}</td>
    <td>{{object.path.cost}}</td>
{% endblock %}

{% block no_objects_found %}
    <p>Заказов не найдено</p>
{% endblock %}

