{% extends "doc_manager/table_generic.html" %}

{% block title %}Список путей со ставками - {{ block.super }}{% endblock%}

{% block page_head %}Список путей со ставками{% endblock %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Погрузка</th>
    <th scope="col">Выгрузка</th>
    <th scope="col">Ставка</th>
    <th scope="col">Подрядчик</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.pk}}</th>
    <td>{{object.path_from}}</td>
    <td>{{object.path_to}}</td>
    <td>{{object.cost}}</td>
    <td>{{object.contractor|default:"Нет"}}</td>
{% endblock %}

{% block no_objects_found %}
    <p>Путей не найдено</p>
{% endblock %}
