{% extends "doc_manager/table_generic.html" %}

{% block title %}Список спецификаций - {{ block.super }}{% endblock%}

{% block page_head %}Список спецификаций{% endblock %}

{% block table_input %}
<form method="GET" action={% url 'doc_manager:specification' %}>
    <input 
        type="text" 
        name="from-addr" 
        id="from-addr-filter" 
        placeholder="Погрузка">
    <input 
        type="text" 
        name="to-addr" 
        id="to-addr-filter" 
        placeholder="Выгрузка">
    <input 
        type="text" 
        name="material" 
        id="mat-filter" 
        placeholder="Материал">
    <button type="submit">Найти</button>
</form>
{% endblock %}

{% block table_header %}
    <th scope="col">#</th>
    <th scope="col">Дата<br>создания</th>
    <th scope="col">Клиент</th>
    <th scope="col">Погрузка</th>
    <th scope="col">Выгрузка</th>
    <th scope="col">Материал</th>
    <th scope="col">Единицы<br>измерения</th>
    <th scope="col">Цена</th>
{% endblock %}

{% block table_row %}
    <th scope="row">{{object.doc_no}}</th>
    <td>{{object.date|date:"d.m.Y"}}</td>
    <td>{{object.customer}}</td>
    <td>{{object.from_addr}}</td>
    <td>{{object.to_addr}}</td>
    <td>{{object.material}}</td>
    <td>{{object.get_units_display}}</td>
    <td>{{object.price}}</td>
{% endblock %}

{% block no_objects_found %}
    <p>Спецификаций не найдено</p>
{% endblock %}
