{% extends "base_generic.html" %}

{% block content %}

{% if spec %}
{% else %}
{% endif %}

{% if spec %}
<form action="{% url 'doc_manager:edit_specification' spec.doc_no %}" method="post">
{% else %}
<form action="{% url 'doc_manager:new_specification'  %}" method="post">
{% endif %}

    {% csrf_token %}

    {% if error_text %}
        {{ error_text }}
    {% endif %}

    <label for="doc_no_input">Номер документа: </label>
    <input
        id="doc_no_input"
        type="number"
        name="doc_no"
        min="0"
        {% if spec %}
        value="{{spec.doc_no}}"
        {% endif %}
        >

    <label for="from_addr_input">Начало пути: </label>
    <input
        id="from_addr_input"
        list="addr_list"
        name="from_addr"
        autocomplete="off"
        {% if spec %}
        value="{{spec.from_addr}}"
        {% endif %}
        >

    <label for="to_addr_input">Конец пути: </label>
    <input
        id="to_addr_input"
        list="addr_list"
        name="to_addr"
        autocomplete="off"
        {% if spec %}
        value="{{spec.to_addr}}"
        {% endif %}
        >

    <label for="mat_input">Материал: </label>
    <input 
        id="mat_input"
        list="mat_list"
        name="material"
        autocomplete="off"
        {% if spec %}
        value="{{spec.material}}"
        {% endif %}
        >

    <label for="units_input">Единицы измерения: </label>
    <select id="units_input" name="units">
        <option value="">--Выбрать--</option>
        {% for option in unit_options %}
            <option value="{{option.0}}"
              {% if spec and option.0 == spec.units %} selected {% endif %}>
                {{option.1}}
            </option>
        {% endfor %}
    </select>

    <label for="price_input">Цена: </label>
    <input
        id="price_input"
        type="number"
        name="price"
        min="0"
        {% if spec %}
        value="{{spec.price}}"
        {% endif %}
        >

    <datalist id="addr_list">
        {% for addr in address_list %}
            <option value="{{ addr.name }}">
        {% endfor %}
    </datalist>

    <datalist id="mat_list">
        {% for mat in material_list %}
            <option value="{{ mat.name }}">
        {% endfor %}
    </datalist>

    <button type="submit">
        {% if spec %}Изменить{% else %}Добавить{% endif %}
    </button>
</form>

{% endblock %}
