{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <div class="container">
        {% block table_input %}{% endblock %}
        <div class="table-responisve">
            <table id="spec-table" class="table">
                <thead>
                    <tr>
                        {% block table_header %}{% endblock %}
                        {% if edit_path_name %}
                        <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% if object_list %}

                    {% for object in object_list %}
                        <tr>
                            {% block table_row %}{% endblock %}
                            {% if edit_path_name %}
                            <td>
                                <a href="{% url edit_path_name object.pk %}">
                                    Редактировать
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                {% endif %}

                </tbody>
                <tfoot>
                    {% block table_footer %}{% endblock %}
                </tfoot>
            </table>
        </div>
    </div>

    
    {% if not object_list %}
    
        {% block no_objects_found %}{% endblock %}

    {% endif %}


    {% if is_paginated %}

    <nav aria-label="Переход между страницами">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Предыдущая</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Текущая">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Следующая</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}

    {% if create_path_name %}
    <div>
        <a class="btn btn-primary" href="{% url create_path_name %}">
            Создать
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}
